
body {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    color: white;
    background: black;
    overflow: hidden;
}

h1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "EDPT" 100,
            "EHLT" 12;
}

button {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    background-color: #ff5722;
    color: #fff;
    padding: 15.5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d84315;
}

/* input box */
input[type="text"],
input[type="password"],
textarea {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    padding: 10px;
    border: 3px solid #333;
    border-radius: 0;
    background-color: white;
    color: #333;
    outline: none;
}

/*focussed input box*/
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #ff5722;
}
